name: GA2 Q7 Cache Action

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-e04ed7f

      - name: prime-cache-e04ed7f
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"

