name: GA2 Q6 Action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 23f3002663@ds.study.iitm.ac.in
        run: echo "GA2 Q6 workflow running"

